tr {
  width: 100%;
  border: 1px solid black;
  width: 700px;
  margin-bottom: 1rem;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

td {
  margin: 2rem;
}
